h1{
    background-color: aqua;
    text-align: center;
}
body{
    background-color:rgb(213, 227, 20);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.outer-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 650px;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color:rgb(39, 227, 55);
}
.display-result{
    background-color: white;
    border: 5px solid black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.input{

    text-align: right;
    overflow: hidden;
    width: 80%;
    height:70px;
    font-size: 2rem;

}
.value{
    color:brown;
    font-size: 2rem;
    width:50px;
    height:50px;
    flex:1;

}
.flex-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top:20px ;

}
.enter
{
    background-color: lavender;
}